nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  color: #fff;
}
nav img{
  width: 180px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin: 5px 20px;
  font-size: 16px;
}
.dark-nav{
  background: #212EA0;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .logo{
    width: 140px;
  }
  nav ul li{
    margin: 10px 15px;
  }
}
.menu-icon {
  display: none;
}

@media (max-width: 840px) {
  nav{
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #212EA0;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }
  .menu-icon{
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -200px;
  }
}